version: '3'

services:
  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa
    ports:
      - "8080:80"
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: dvwa
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: dvwa_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dvwa
      MYSQL_USER: root
      MYSQL_PASSWORD: root
